<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="description 1, description 2">
  <meta name="keywords" content="business">
  <meta name="author" content="Bao Nhan - Tan Tu">
  <meta name="MobileOptimized" content="320">

  <!-- file syle ở dưới vì đôi khi cần ghi đè bootstrap hoặc thư viện css khác,
     quy tắt là ưu tiên trên xuống dưới -->
  <link rel="stylesheet" href="../public/app/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/app/assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="../public/app/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;600;700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="../public/app/assets/images/logo-header.png">
  <title>Cổng thông tin điện tử - SỞ CÔNG THƯƠNG HỘI AN</title>
</head>

<body>
   <%- include('./components/header') -%>
  <main>
    <% prod = dataProductDetail%>
    <div class="container">
        <div class="post__main row ms-0">
            <div class="left_post col-lg-9">
                <section class="infor_detail_post">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Giới Thiệu</li>
                        </ol>
                    </nav>
                    <div class="sumary">
                      <%
                                let isCategoryMatched = false;
                                let idProduct = dataProductDetail.categoryIds[0];
                                dataCategories.forEach((item) => {
                                  if(item.id == idProduct && item.name === 'Văn Bản'){
                                    isCategoryMatched = true;
                                  }
                                });
                                %>

                                <% if (isCategoryMatched) { %>
                                 <div class="container_table">
                                  <div class="tabtop ">

                                  </div>
                                  <div class="main_table">
                                    <table class="w-100 table table-bordered">
                                      <tbody>
                                        <%if(prod.descriptionPlus){
                                          prod.descriptionPlus.forEach(item => {
                                            %>
                                            <tr>
                                              <td><%= item.title%></td>
                                              <td><%- item.description%></td>
                                            </tr>
                                            <%
                                          })
                                        }%>
                                      </tbody>
                                    </table>
                                  </div>
                                 </div>
                                <% } else { %>
                                  <div class="detail">
                                    <div class="head_post">
                                      <h2 class="title"><%= prod.name%></h2>
                                      <div class="infor_time_post">
                                        <div class="calendar">
                                          <i class="fa fa-clock-o"></i>
                                          <span>24/11/2023 | 08:27 AM</span>
                                        </div>
                                        <div class="number_views">
                                          <i class="fa fa-eye"></i>
                                          <span>1000</span>
                                        </div>
                                      </div>
                                      <div class="list_action_post">
                                        <span class="item-action">
                                          <a href="" id="btn_print">
                                            <i class="fa fa-print"></i>
                                            In
                                          </a>
                                        </span>
                                        <span class="item-action line_left">
                                          <a href="">
                                            <i class="fa fa-envelope-o"></i>
                                            Gửi Email
                                          </a>
                                        </span>
                                        <span class="item-action line_left">
                                          <a href="" id="id_upsize">
                                            <i class="fa fa-search-plus"></i>
                                            Phóng to
                                          </a>
                                        </span>
                                        <span class="item-action line_left">
                                          <a href="" id="id_downsize">
                                            <i class="fa fa-search-minus"></i>
                                            Thu nhỏ
                                          </a>
                                        </span>
                                        <span class="item-action line_left">
                                          <a href="" id="id_contrast">
                                            <i class="fa fa-adjust "></i>
                                            Tương phản
                                          </a>
                                        </span>
                                        <div class="item-action line_left d-inline audio_action">
                                          <span>Đọc bài Viết</span>
                                          <a href="" id="id_btn_read" title="Đọc nội dung bên dưới">
                                            <i class="fa fa-play"></i>
                                          </a>
                                          <a href="" id="id_btn_pause" title="Dừng lại việt đọc">
                                            <i class="fa fa-pause"></i>
                                          </a>
                                          <a href="" id="id_btn_resum" title="Tiếp tục đọc">
                                            <i class="fa fa-forward"></i>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_post" id="id-content-post">
                                      <span class="sub_title"><%= prod.desShort%></span>
                                      <div class="content_post_detail">
                                        <%- prod.description%>
                                        
                                      </div>
                                    </div>
                                    <div class="media_social">
                                       <div class="list_media">
                                        <span>Chia sẻ: </span>
                                        <ul>
                                          <li>
                                            <a href="" id="id_facebook_redirect" target="_blank"><i class="fa fa-facebook"></i>
                                            </a>
                                          </li>
                                          <li>
                                            <a href="" id="id_twitter_redirect" target="_blank">
                                              <i class="fa fa-twitter"></i>
                                            </a>
                                          </li>
                                        </ul>
                                       </div>
                                    </div>
                                    <div class="related_post">
                                      <div class="head_related">
                                        <h3>Tin liên quan</h3>
                                      </div>
                                      <div class="list_related">
                                        <ul>
                                          <li>
                                            <a href="">Quyết định về việc sửa đổi, bổ sung một số điều của Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương ban hành kèm theo Quyết định số 16/2022/QĐ-UBND ngày 18/5/2022 của UBND tỉnh Quảng Nam</a>
                                            <span class="calendar">12/10/2023 | 08:08 AM</span>
                                          </li>
                                          <li>
                                            <a href="">Sửa đổi, bổ sung Quy định chức năng, nhiệm vụ, quyền hạn của các Phòng chuyên môn và tương đương thuộc Sở ban hành kèm theo Quyết định số 180/QĐ-SCT ngày 13/10/2022 của Giám đốc Sở Công Thương tỉnh Quảng Nam</a>
                                            <span class="calendar">12/10/2023 | 08:08 AM</span>
                                          </li>
                                          <li>
                                            <a href="">Quyết định phân công nhiệm vụ Giám đốc, các Phó Giám đốc Sở Công Thương tỉnh Quảng Nam</a>
                                            <span class="calendar">12/10/2023 | 08:08 AM</span>
                                          </li>
                                          <li>
                                            <a href="">Quyết định ban hành Quy định chức năng, nhiệm vụ, quyền hạn của các Phòng chuyên môn và tương đương thuộc Sở Công Thương</a>
                                            <span class="calendar">12/10/2023 | 08:08 AM</span>
                                          </li>
                                          <li>
                                            <a href="">Quyết định ban hành Quy định chức năng, nhiệm vụ, quyền hạn và cơ cấu tổ chức của Sở Công Thương tỉnh Quảng Nam</a>
                                            <span class="calendar">12/10/2023 | 08:08 AM</span>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                  
                                <% } %>
                     
                    </div>
                </section>
            </div>
            <div class="right_post col-lg-3">
              <div class="sidebar_post row">
                <div class="col-md-6 col-lg-12">
                  <div class="speaker__infor">
                    <div class="heading_speaker">
                      <h3>Thông tin người phát ngôn</h3>
                    </div>
                    <div class="body_speaker">
                      <div class="item-infor">
                        <span>Họ và tên:</span>
                        Đặng Bá Dự
                      </div>
                      <div class="item-infor">
                        <span>Chức vụ:</span>
                        Giám đốc
                      </div>
                      <div class="item-infor">
                        <span>Số điện thoại:</span>
                        0905666999 (02353852641)
                      </div>
                      <div class="item-infor">
                        <span>Email:</span>
                        dudb@quangnam.gov.vn
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-12">
                  <div class="banner__images">
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_1.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_2.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_3.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_4.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_5.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_6.png" alt="">
                    </a>
                    <a href="">
                      <img src="../public/app/assets/images/post_categories/image_banner_7.png" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="sidebar_support">
                <div class="heading_support">
                  <h3>Hỗ trợ trực tuyến</h3>
                </div>
                <div class="body_support">
                  <div class="item_support">
                    Bộ phận tiếp nhận và trả kết quả:
                    <span>Hoàng Thị Kim Oanh</span>
                  </div>
                  <div class="item_support">
                    Số điện thoại:
                    <span>(0235).3.815.806</span>
                  </div>
                </div>
              </div>
              <div class="sidebar_need_know">
                <div class="heading_need_know">
                  <h3>Hỗ trợ trực tuyến</h3>
                </div>
                <div class="body_need_know">
                  <ul>
                    <li><a href="">Tỷ giá ngoại lệ</a></li>
                    <li><a href="">Giá cả thị trường</a></li>
                    <li><a href="">Du lịch Quảng Nam</a></li>
                    <li><a href="">Lịch cắt điện</a></li>
                  </ul>
                </div>
              </div>
              <div class="sidebar_link_web">
                <div class="heading_link_web">
                  <h3>Hỗ trợ trực tuyến</h3>
                </div>
                <div class="body_link_web">
                  <select name="" id="">
                    <option value="">Bộ Công Thương</option>
                    <option value="">Báo Quảng Nam</option>
                    <option value="">Bưu điện Quảng Nam</option>
                    <option value="">Bộ Thư Pháp</option>
                    <option value="">Sở Ngoại vụ</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
    </div>
  </main>
  <%- include('./components/footer') -%>
  <script src="../public/app/assets/js/bootstrap.min.js"></script>
  <script src="../public/app/assets/js/jquery-3.7.1.min.js"></script>
  <script src="../public/app/assets/js/swiper-bundle.min.js"></script>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=7TYEXnKc"></script>
  <script src="../public/app/assets/js/script.js"></script>
</body>

</html>